/*
 * Settings
 *****************************************************************************************************************************/

/* Typography */
$heading-color: $charcoal;
$heading-font-family: 'Oswald', sans-serif;
$heading-font-weight: 400;
$heading-line-height: 1.4;

$body-color: $charcoal;
$body-font-family: 'Raleway', sans-serif;
$body-font-size: 1.8rem;
$body-font-weight: 400;
$body-line-height: 1.6;

/* Grid */
$grid-columns: 12;
$grid-gutter: 1.5rem;
