/*
 * Variables
 *****************************************************************************************************************************/

/* Colors */
$charcoal: #353535;
$sharkskin: #666;
$acid: #446669;
$faint: #ddd;
$blue: #232D38;
$green: #2F4A4A;
$violet: #373A57;
$red: #DC143C;
$light-blue: lighten($blue, 25%);
$light-violet: lighten($violet, 25%);
$light-green: lighten($green, 25%);

/* Fonts */
$oswald: 'Oswald', serif;
$raleway: 'Raleway', sans-serif;
