/*********************/
/* TABLE OF CONTENTS */
/*********************/
/*
 * 1. Settings
 */
/*
 * Reset
 *****************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Variables
 *****************************************************************************************************************************/
/* Colors */
/* Breakpoints */
/* Typography */
/*
 * Mixins
 *****************************************************************************************************************************/
/*
 * 2. Partials
 */
/*
 * Utilities
 *****************************************************************************************************************************/
/* Nicolas Galllager Micro Clearfix
http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf::before, .cf::after {
  content: " ";
  display: table; }
.cf::after {
  clear: both; }

/* Responsive Images */
.img-responsive, .modal__img {
  max-width: 100%;
  height: auto; }

/*
 * 2.0 Base
 *****************************************************************************************************************************/
/* Apply border box globally */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0; }

/* Set root font size to 10px for easy manipulation with rem units */
html {
  font-size: 62.5%; }

body,
p {
  color: #353535;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6; }

body {
  background-color: #fff; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  color: #353535;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-transform: lowercase; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 32px;
  font-size: 3.2rem; }

h3 {
  font-size: 28px;
  font-size: 2.8rem; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-size: 20px;
  font-size: 2rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

/* Paragraphs */
p {
  margin-bottom: 20px;
  margin-bottom: 2rem; }

/* Links */
a {
  color: #5f81d0;
  text-decoration: none; }
  a:hover, a:focus {
    color: #5f81d0;
    outline: 0;
    text-decoration: underline; }

/* Text selection */
::-moz-selection {
  color: #fff;
  background: #353535; }
::selection {
  color: #fff;
  background: #353535; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.container, .hero__content, .layout {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-right: 1.5rem;
  padding-left: 15px;
  padding-left: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .container, .hero__content, .layout {
      width: 75rem; } }
  @media only screen and (min-width: 992px) {
    .container, .hero__content, .layout {
      width: 97rem; } }
  @media only screen and (min-width: 1200px) {
    .container, .hero__content, .layout {
      width: 117rem; } }

.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -15px;
  margin-right: -1.5rem;
  margin-left: -15px;
  margin-left: -1.5rem; }
  .flex-row.flex-center {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-row.flex-dist .flex-item {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0; }

.flex-item {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding-right: 15px;
  padding-right: 1.5rem;
  padding-left: 15px;
  padding-left: 1.5rem; }

@media only screen and (min-width: 480px) {
  .xs-half {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .xs-third {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .xs-fourth {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .xs-fifth {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    max-width: 20%; } }
@media only screen and (min-width: 768px) {
  .sm-half {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .sm-third {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .sm-fourth {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .sm-fifth {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    max-width: 20%; } }
@media only screen and (min-width: 992px) {
  .md-half {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .md-third {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .md-fourth {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .md-fifth {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    max-width: 20%; } }
@media only screen and (min-width: 1200px) {
  .lg-half {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }

  .lg-third {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .lg-fourth {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }

  .lg-fifth {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    max-width: 20%; } }
/*
 * Typography
 *****************************************************************************************************************************/
.section-title {
  display: inline-block;
  margin-bottom: 60px;
  margin-bottom: 6rem;
  padding: 5px 10px 8px;
  padding: .5rem 1rem .8rem;
  color: #fff;
  background-color: #000;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400; }

.section-intro {
  margin-bottom: 40px;
  margin-bottom: 4rem;
  font-size: 32px;
  font-size: 3.2rem; }

/*
 * 4.0 Animations
 *****************************************************************************************************************************/
@-webkit-keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } }
@keyframes wiggle {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg); } }
@-webkit-keyframes bg-color-change {
  0%, 100% {
    background-color: rgba(40, 69, 135, 0.95); }
  25% {
    background-color: rgba(202, 79, 43, 0.95); }
  50% {
    background-color: rgba(202, 149, 43, 0.95); }
  75% {
    background-color: rgba(31, 143, 83, 0.95); } }
@keyframes bg-color-change {
  0%, 100% {
    background-color: rgba(40, 69, 135, 0.95); }
  25% {
    background-color: rgba(202, 79, 43, 0.95); }
  50% {
    background-color: rgba(202, 149, 43, 0.95); }
  75% {
    background-color: rgba(31, 143, 83, 0.95); } }
@-webkit-keyframes up-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem); } }
@keyframes up-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem); } }
.up-down, .layout__scroll {
  -webkit-animation: up-down 2.5s ease-in-out infinite;
          animation: up-down 2.5s ease-in-out infinite; }

/*
 * Nav
 *****************************************************************************************************************************/
.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 175px; }

.nav-item {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out; }
  .nav-item:hover, .nav-item:focus {
    border: 1px solid #5f81d0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: transparent; }

/*
 * Hero
 *****************************************************************************************************************************/
.hero {
  height: 1000px;
  height: 100rem;
  height: 100vh;
  background: #284587;
  background-image: linear-gradient(115deg, #284587, #1F8F53);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }

.hero__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .hero__content * {
    color: #fff; }

.hero__name {
  font-family: "Oswald", sans-serif; }
  @media only screen and (min-width: 480px) {
    .hero__name {
      font-size: 5.6rem; } }
  @media only screen and (min-width: 768px) {
    .hero__name {
      font-size: 6.4rem; } }
  @media only screen and (min-width: 992px) {
    .hero__name {
      font-size: 7.6rem; } }

/*
 * 2.3 Footer
 *****************************************************************************************************************************/
.footer {
  padding-top: 60px;
  padding-top: 6rem;
  padding-bottom: 40px;
  padding-bottom: 4rem;
  color: #fff;
  background-color: #353535;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center; }

/*
 * 2.4 Forms
 *****************************************************************************************************************************/
/* Form focus effects inspired by
http://tympanus.net/Development/TextInputEffects/ */
form {
  margin-top: -30px;
  margin-top: -3rem; }

input,
textarea,
.form-group {
  display: block;
  width: 100%; }

input,
textarea {
  border-width: 0 0 1px 0;
  border-width: 0 0 .1rem 0;
  border-style: solid;
  border-color: #ddd;
  color: #353535;
  background-color: #fff;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-size: 1.4rem; }

input {
  height: 40px;
  height: 4rem; }

textarea {
  height: 120px;
  height: 12rem;
  resize: none; }

.form-group {
  position: relative;
  padding-top: 20px;
  padding-top: 2rem; }

.form-group:not(:last-child) {
  margin-bottom: 20px;
  margin-bottom: 2rem; }

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden; }

label > span,
label::after {
  transition: all ease-in-out 250ms; }

label > span {
  display: inline-block;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem); }

label::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  height: .5rem;
  background-color: #284587;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.form-group:nth-of-type(2n) label::after {
  background-color: #CA4F2B; }

.form-group:nth-of-type(3n) label::after {
  background-color: #1F8F53; }

.form-group:nth-of-type(4n) label::after {
  background-color: #CA952B; }

input.filled + label > span,
textarea.filled + label > span {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

input.filled + label::after,
textarea.filled + label::after,
input.error + label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

input:invalid + label::after {
  background-color: crimson; }
  .form-group:nth-child(2n) input:invalid + label::after, .form-group:nth-child(3n) input:invalid + label::after {
    background-color: crimson; }

/*
 * 2.5 Buttons
 *****************************************************************************************************************************/
.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border: 1px solid #353535;
  padding: 15px 30px;
  padding: 1.5rem 3rem;
  color: #353535;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: lowercase; }
  .btn:hover, .btn:focus {
    color: #fff;
    cursor: pointer;
    text-decoration: none; }
  .btn:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: #284587;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: all 250ms ease-in-out; }
  .btn.small {
    padding: 5px 20px;
    padding: .5rem 2rem; }

/*
 * Layout
 *****************************************************************************************************************************/
hr {
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ddd; }

.layout {
  padding-top: 80px;
  padding-top: 8rem;
  padding-bottom: 80px;
  padding-bottom: 8rem; }

.layout__scroll {
  display: inline-block;
  position: relative;
  padding-right: 2px;
  padding-right: .2rem;
  padding-left: 2px;
  padding-left: .2rem;
  color: #353535;
  font-size: 20px;
  font-size: 2rem; }

.layout__scroll::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 250ms ease-in-out; }

.layout__scroll:hover {
  color: #fff; }

.layout__scroll:hover::before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

/*
 * Projects
 *****************************************************************************************************************************/
.project,
.project__img,
.project__body {
  display: block; }

.project {
  max-width: 300px;
  max-width: 30rem;
  margin: 0 auto 30px;
  margin: 0 auto 3rem;
  border: 1px solid #ddd;
  border: 0.1rem solid #ddd;
  color: #353535;
  transition: all 250ms ease-in-out; }

.project:hover,
.project:focus {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  border-bottom-width: 5px;
  border-bottom-width: .5rem;
  border-bottom-color: #284587;
  color: #353535;
  text-decoration: none;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem); }

.flex-item:nth-child(2n) .project:hover,
.flex-item:nth-child(2n) .project:focus {
  border-bottom-color: #CA4F2B; }

.flex-item:nth-child(3n) .project:hover,
.flex-item:nth-child(3n) .project:focus {
  border-bottom-color: #1F8F53; }

.flex-item:nth-child(4n) .project:hover,
.flex-item:nth-child(4n) .project:focus {
  border-bottom-color: #CA952B; }

.project__img {
  max-width: 100%;
  height: auto; }

.project__body {
  border-top: 1px solid #ddd;
  border-top: 0.1rem solid #ddd;
  padding: 20px;
  padding: 2rem; }

.project__info {
  font-size: 16px;
  font-size: 1.6rem; }

.project__info td:first-child {
  padding-right: 10px;
  padding-right: 1rem;
  font-weight: 700; }

/*
 * Modal
 *****************************************************************************************************************************/
.modal__overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal__content {
  display: none; }

.modal {
  position: relative;
  z-index: 200;
  margin: 15px;
  margin: 1.5rem;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .modal {
      width: 60rem;
      margin: 3rem auto; } }

.modal__header {
  position: relative;
  border-bottom: 1px solid #ddd;
  border-bottom: .1rem solid #ddd;
  padding: 15px;
  padding: 1.5rem;
  color: #fff;
  background-color: #284587;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400; }

.modal__close {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  text-decoration: none; }
  .modal__close:hover, .modal__close:focus {
    color: #fff;
    text-decoration: none; }

.modal__body {
  padding: 20px 10px;
  padding: 2rem 1rem; }
  .modal__body::after {
    display: table;
    content: ' ';
    clear: both; }

.modal__info,
.modal__code_example {
  width: 50%;
  float: left;
  padding-right: 10px;
  padding-right: 1rem;
  padding-left: 10px;
  padding-left: 1rem; }

.modal__img {
  margin-bottom: 10px;
  margin-bottom: 1rem; }

pre {
  border: 1px solid #284587;
  border-left-width: 10px;
  padding: 10px;
  font-family: 'Monaco', monospace;
  font-size: 12px;
  font-size: 1.2rem;
  overflow: auto;
  -moz-tab-size: 2;
       tab-size: 2; }

/*
 * Skills
 *****************************************************************************************************************************/
.skills {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  font-size: 12px;
  font-size: 1.2rem; }

.skills-heading {
  margin-bottom: 10px;
  margin-bottom: 1rem; }

.skill {
  display: block;
  margin-bottom: 5px;
  margin-bottom: .5rem; }

.skill-level {
  width: 0;
  height: 5px;
  height: .5rem;
  margin-top: 5px;
  margin-top: .5rem;
  background-color: #5f81d0;
  transition: width 1s ease-in-out; }
  .skill:nth-of-type(2n) .skill-level {
    background-color: #e7a28e; }
  .skill:nth-of-type(3n) .skill-level {
    background-color: #e7c98e; }
  .skill:nth-of-type(4n) .skill-level {
    background-color: #54da92; }

/*
 * Contact Card
 *****************************************************************************************************************************/
.contact-card,
.contact-img {
  border: 1px solid #ddd; }

.contact-card {
  max-width: 360px;
  max-width: 36rem;
  position: relative;
  margin: 75px auto 60px;
  margin: 7.5rem auto 6rem;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .contact-card {
      margin-bottom: 0; } }

.contact-img {
  position: absolute;
  top: -75px;
  top: -7.5rem;
  right: 0;
  left: 0;
  width: 150px;
  width: 15rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  padding: 4px;
  padding: .4rem;
  background-color: #fff; }

.contact-body {
  padding: 105px 20px 40px;
  padding: 10.5rem 2rem 4rem; }

.contact-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  height: 11.2rem;
  background-color: #284587; }
  .contact-links > li {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    max-width: 80px;
    max-width: 8rem; }
    .contact-links > li > a {
      color: #fff;
      font-size: 20px;
      font-size: 2rem; }
      .contact-links > li > a:hover, .contact-links > li > a:focus {
        -webkit-animation: wiggle 250ms linear;
                animation: wiggle 250ms linear; }

@font-face {
  font-family: 'fontello';
  src: url("assets/scss/partials/font/fontello.eot?40550401");
  src: url("assets/scss/partials/font/fontello.eot?40550401#iefix") format("embedded-opentype"), url("assets/scss/partials/font/fontello.woff?40550401") format("woff"), url("assets/scss/partials/font/fontello.ttf?40550401") format("truetype"), url("assets/scss/partials/font/fontello.svg?40550401#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40550401#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-jquery:before {
  content: '\e800'; }

/* '' */
.icon-css3:before {
  content: '\e801'; }

/* '' */
.icon-html5:before {
  content: '\e802'; }

/* '' */
.icon-wordpress:before {
  content: '\e803'; }

/* '' */
.icon-angle-double-up:before {
  content: '\e804'; }

/* '' */
.icon-angle-double-down:before {
  content: '\e805'; }

/* '' */
.icon-mobile:before {
  content: '\e806'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\e807'; }

/* '' */
.icon-github-squared:before {
  content: '\e808'; }

/* '' */
.icon-codeopen:before {
  content: '\e809'; }

/* '' */

/*# sourceMappingURL=style.css.map */