/*
 * Contact Card
 *****************************************************************************************************************************/
.contact-card,
.contact-img {
    border: 1px solid $faint;
 }

.contact-card {
    max-width: 36rem;
    position: relative;
    margin: 7.5rem auto 6rem;
    text-align: center;

    @media #{$screen-sm-min} {
        margin-bottom: 0;
    }
}

.contact-img {
    position: absolute;
    top: -7.5rem;
    right: 0;
    left: 0;
    width: 15rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    padding: .4rem;
    background-color: #fff;
}

.contact-body {
    padding: 10.5rem 2rem 4rem;
}

.contact-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 11.2rem;
    background-color: $blue;

    > li {
        flex: 1 0 auto;
        max-width: 8rem;

        > a {
            color: #fff;
            font-size: 2rem;

            &:hover,
            &:focus {
                animation: wiggle 250ms linear;
            }
        }
    }
}
