/*
 * 2.3 Footer
 *****************************************************************************************************************************/
.footer {
    padding-top: 6rem;
    padding-bottom: 4rem;
    color: #fff;
    background-color: $charcoal;
    font-size: 1.2rem;
    text-align: center;
}
