/*
 * 2.3 Footer
 *****************************************************************************************************************************/
.footer {
    margin-top: 6rem;
    border-top: 1px solid $faint;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.footer .container {
    width: 30rem;
}
