/*
 * 2.2 Header
 *****************************************************************************************************************************/
.header {
    height: 100rem;
    height: 100vh;
    background: #fff url('assets/img/desk.jpg') no-repeat;
    background-size: cover;
    text-align: center;
}

.header-overlay {
    height: 100%;
    background-color: $blue;
    background-color: rgba($blue, .95);
}

.header-content {
    @extend .container;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    * {
        color: #fff;
    }

    > h1 {
        font: {
          family: $oswald;
          size: 7.5rem;
        };
    }

    > a {
        @include down-up;

        > i {
            font-size: 2rem;
        }
    }
}
