/*
 * Modal
 *****************************************************************************************************************************/

.modal__overlay {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, .5);
}

.modal {
	position: relative;
	z-index: 200;
	margin: 1.5rem;
	background-color: #fff;
	
	@media only screen and (min-width: $breakpoint) {
		width: 60rem;
		margin: 3rem auto;
	}
}

.modal__content {
	position: relative;
	z-index: 150;
}

.modal__header {
	position: relative;
	border-bottom: .1rem solid #ddd;
	padding: 1.5rem;
	color: #fff;
	background-color: $blue;
	font: {
		family: $heading-font-family;
		size: 1.8rem;
		weight: $heading-font-weight;
	};
}

.modal__close {
	display: inline-block;
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
	color: #fff;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #fff;
		text-decoration: none;
	}
}

.modal__body {
	@extend .row;
	padding: 1.5rem;
}

.modal__img {
	@extend .img-responsive;
	margin-bottom: 1rem;
	border: 1px solid $faint;
}

.modal__info,
.modal__code-wrap {
	@extend .column;
}

.modal__code-wrap {
	display: none;

	@media only screen and (min-width: $breakpoint) {
		display: block;
	}
}

.modal__code {
	border: 1px solid $blue;
	border-left-width: 1rem;
	padding: 1rem;
	font-family: 'Monaco', monospace;
	font-size: 1.2rem;
	overflow: auto;
	tab-size: 2;
}