/*
 * Projects
 *****************************************************************************************************************************/
.project,
.project__img,
.project__body {
    display: block;
}

// Project
.project {
    margin: 0 auto 2rem;
    border: .1rem solid $faint;
    color: $body-color;
    transition: all 250ms ease-in-out;
}

.project:hover,
.project:focus {
    margin-bottom: 1.5rem;
    border-bottom-width: .5rem;
    border-bottom-color: $blue;
    color: $body-color;
    text-decoration: none;
    transform: translateY(-.5rem);
}

.flex-item:nth-child(2n) .project:hover,
.flex-item:nth-child(2n) .project:focus {
    border-bottom-color: $violet;
}

.flex-item:nth-child(3n) .project:hover,
.flex-item:nth-child(3n) .project:focus {
    border-bottom-color: $green;
}

.flex-item:nth-child(4n) .project:hover,
.flex-item:nth-child(4n) .project:focus {
    border-bottom-color: $tan;
}

// Project Img
.project__img {
    max-width: 100%;
    height: auto;
}

// Project Body
.project__body {
    border-top: .1rem solid $faint;
    padding: 2rem;
}

// Project Info
.project__info {
    font-size: 1.6rem;
}

.project__info td:first-child {
    padding-right: 1rem;
    font-weight: 700;
}
