/*
 * Section
 *****************************************************************************************************************************/
.section {
    @extend .container;
    padding-top: 8rem;
}

.section-divider {
    @media #{$screen-md-min} {
        border-right: 1px solid $faint;
        padding-right: 3rem;
    }
}

.section-divider-pt-2 {
    @media #{$screen-md-min} {
        padding-left: 4rem;
    }
}

.section-next {
    margin-top: 4rem;
    border-bottom: .1rem solid $faint;
    text-align: right;

    > a {
        @include down-up();
        font-size: 2rem;
    }
}
