/* Skill */
.skill {
    position: relative;
    margin-top: 2.7rem;
    margin-bottom: 2rem;
    border: 1px solid $faint;
    padding-top: 4rem;
    text-align: center;
}

.skill-icon {
    position: absolute;
    top: -2.85rem;
    right: 0;
    left: 0;
    width: 5.7rem;
    height: 5.7rem;
    margin-right: auto;
    margin-left: auto;
    border: .1rem solid #ddd;
    padding: 1rem;
    color: lighten($blue, 15%);
    background-color: #fff;
    font-size: 3.5rem;
}

.skill-header {
  border-bottom: .1rem solid #ddd;
  margin-bottom: 2rem;
}

.skill-body {
    padding-right: 4rem;
    padding-left: 4rem;
}
