/* Strength */
.strengths {
    border-left: 1px solid $faint;
    padding-left: 3.5rem;
}

.strength {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.strength-icon {
    margin-right: 1rem;
}

.strength-level {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 30%;
    height: .5rem;
    background-color: $light-blue;

    .strength:nth-child(2n) & {
        background-color: $light-violet;
    }

    .strength:nth-child(3n) & {
        background-color: $light-green;
    }
}
