/*
 * Work Card
 *****************************************************************************************************************************/
.work-card,
.work-img,
.work-body {
    display: block;
}

.work-card {
    max-width: 30rem;
    margin: 0 auto 3rem;
    border: .1rem solid $faint;
    color: $body-color;
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus {
        margin-bottom: 2.5rem;
        border-bottom-width: .5rem;
        border-bottom-color: $light-blue;
        color: $body-color;
        text-decoration: none;
        transform: translateY(-.5rem);
    }

    div:nth-of-type(2n) & {
        &:hover,
        &:focus {
            border-bottom-color: $light-green;
        }
    }

    div:nth-of-type(3n) & {
        &:hover,
        &:focus {
            border-bottom-color: $light-tan;
        }
    }

    div:nth-of-type(4n) & {
        &:hover,
        &:focus {
            border-bottom-color: $light-violet;
        }
    }
}

.work-img {
    max-width: 100%;
    height: auto;
}

.work-body {
    border-top: .1rem solid $faint;
    padding: 2rem;
}

.work-table {
    font-size: 1.6rem;

    td:first-child {
        padding-right: 1rem;
        font-weight: 700;
    }
}
