/*
 * Base
 *****************************************************************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  transition: font-size 250ms linear;
}

html {
  font-size: 62.5%;
}

body,
p {
  color: $body-color;
  font: {
    family: $body-font-family;
    size: $body-font-size;
    weight: $body-font-weight;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $body-line-height;
}

body {
    padding-bottom: 32px;
    background-color: #fff;

	@media only screen and (min-width: $breakpoint-sm) {
        padding-bottom: 47px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $heading-color;
  font: {
    family: $heading-font-family;
    weight: $heading-font-weight;
  }
  line-height: $heading-line-height;
  text-transform: lowercase;
}

h1 {
  font-size:  3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
    margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: $theme-secondary;
  text-decoration: none;
}

a:hover,
a:focus {
  color: lighten($theme-secondary, 10%);
  outline: 0;
  text-decoration: underline;
}

::selection {
  color: #fff;
  background: $font-color-primary;
}
