/*
 * Hero
 *****************************************************************************************************************************/
.hero {
    height: 500px;
    height: calc(100vh - 30px);
    background: $blue;
    background-image:
    linear-gradient(to right, $blue, $green);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    @media only screen and (min-width: $breakpoint-sm) {
          height: calc(100vh - 45px);
    }
}

.hero__content {
    @extend .container;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hero__name,
.hero__title {
    color: #fff;
}

.hero__name {
    font-family: $heading-font-family;

    @media only screen and (min-width: $breakpoint-sm) {
        font-size: 4.4rem;
    }

    @media only screen and (min-width: $breakpoint-md) {
        font-size: 5.8rem;
    }

    @media only screen and (min-width: $breakpoint-lg) {
        font-size: 7.6rem;
    }
}

.hero__title {
  font-size: 1.4rem;

  @media only screen and (min-width: $breakpoint-sm) {
      font-size: 1.6rem;
  }
}
