/*
 * Modal
 *****************************************************************************************************************************/

// Prevent body scrolling
 .modal-open {
	 overflow: hidden;
 }

.modal__overlay {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, .5);
}

.modal {
	position: relative;
	z-index: 200;
	max-width: 550px;
	margin: 15px auto 47px;
	background-color: #fff;

	@media only screen and (min-width: $breakpoint-sm) {
		margin-top: 30px;
		margin-bottom: 77px;
	}
}

.modal__content {
	position: relative;
	z-index: 150;
	padding-right: 15px;
	padding-left: 15px;
}

.modal__info {
	margin-bottom: 10px;
}

.modal__summary {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal__table-head {
	@extend .project__table-head;
}

.modal__header {
	position: relative;
	border-bottom: 1px solid $border-color;
	padding: 15px;
	color: #fff;
	background-color: $theme-primary;
}

.modal__heading {
	margin: 0;
	color: #fff;
}

.modal__close {
	display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
	color: #fff;
	font-weight: 700;
	text-decoration: none;

}

.modal__close:hover,
.modal__close:focus {
	color: #fff;
	text-decoration: none;
}

.modal__close::before {
	content: 'X';
}

.modal__body {
	padding: 15px;
}

.modal__img {
	@extend .project__img;
	margin-bottom: 1rem;
	border: 1px solid $border-color;
}
