/*
 * Nav
 *****************************************************************************************************************************/
 .nav-wrap {
   position: relative;
 }

 .nav {
   position: fixed;
   z-index: 1000;
   bottom: 0;
   left: 0;
   right: 0;
   height: 32px;
   border-top: 1px solid $border-color;
   border-bottom: 1px solid $border-color;
   background-color: #fff;

   @media only screen and (min-width: $breakpoint-sm) {
     height: 47px;
   }
}

.nav--absolute {
  position: absolute;
}

.nav__links {
  @extend .container;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;

  @media only screen and (min-width: $breakpoint-sm) {
    height: 45px;
    line-height: 45px;
  }
}

.nav__link {
	display: block;
	flex: 1;
    color: $font-color-primary;
    font-size: 1.5rem;
	text-decoration: none;
    transition: all 250ms ease-in-out;

    @media only screen and (min-width: $breakpoint-sm) {
        font-size: 1.6rem;
    }
}

.nav__link:not(:first-child) {
	margin-left: 5px;
}

.nav__link:not(:last-child) {
	margin-right: 5px;
}

.nav__link:hover,
.nav__link:focus {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.nav__link--email::after {
	content: 'Email';
}

.nav__link--github::after {
	content: 'Github';
}

.nav__link--codepen::after {
	content: 'Codepen';
}

.nav__link--linkedin::after {
	content: 'Linkedin';
}
