/*
 * Nav
 *****************************************************************************************************************************/
 .nav-wrap {
   position: fixed;
   z-index: 1000;
   bottom: 0;
   left: 0;
   right: 0;
   border-top: 1px solid $border-color;
   background-color: #fff;
}

.nav {
  @extend .container;
}

.nav__link {
	display: block;
    width: 25%;
    padding: 5px;
	float: left;
    color: $font-color-primary;
    font-size: 1.5rem;
	text-decoration: none;
    text-align: center;
    transition: all 250ms ease-in-out;

    @media only screen and (min-width: $breakpoint-sm) {
        padding: 10px;
        font-size: 1.6rem;
    }
}

.nav__link:hover,
.nav__link:focus {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.nav__link--email::after {
	content: 'Email';
}

.nav__link--github::after {
	content: 'Github';
}

.nav__link--codepen::after {
	content: 'Codepen';
}

.nav__link--linkedin::after {
	content: 'Linkedin';
}
