/*
 * Nav
 *****************************************************************************************************************************/
 .nav-wrap {
   position: relative;
 }

 .nav {
   position: fixed;
   z-index: 1000;
   bottom: 0;
   left: 0;
   right: 0;
   height: 32px;
   border-top: 1px solid $faint;
   border-bottom: 1px solid $faint;
   background-color: #fff;

   @media only screen and (min-width: $breakpoint-sm) {
     height: 47px;
   }
}

.nav--absolute {
  position: absolute;
}

.nav__links {
  @extend .container;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;

  @media only screen and (min-width: $breakpoint-sm) {
    height: 45px;
    line-height: 45px;
  }
}

.nav__link {
	display: block;
	flex: 1;
  color: $charcoal;
	text-decoration: none;
}

.nav__link:not(:last-child) {
	border-right: 1px solid $faint;
}

.nav__link:hover,
.nav__link:focus {
  color: #fff;
	background-color: #000;
  text-decoration: none;
}

.nav__link::before {
	font-family: 'FontAwesome';
}

.nav__link--email::before {
	content: '\f003';
}

.nav__link--github::before {
	content: '\f09b';
}

.nav__link--codepen::before {
	content: '\f1cb';
}

.nav__link--linkedin::before {
	content: '\f0e1';
}

@media only screen and (min-width: $breakpoint-sm) {
	.nav__link::before {
		margin-right: 10px;
	}

	.nav__link--email::after {
		content: 'Email';
	}

	.nav__link--github::after {
		content: 'Github';
	}

	.nav__link--codepen::after {
		content: 'Codepen';
	}

	.nav__link--linkedin::after {
		content: 'Linkedin';
	}
}
