/*
 * Project
 *****************************************************************************************************************************/
.project,
.project__img,
.project__body {
    display: block;
}

.project {
    max-width: 300px;
    margin: 0 auto 30px;
    border: 1px solid $faint;
    color: $body-color;
    transition: all 250ms ease-in-out;
}

.project:hover,
.project:focus {
    margin-bottom: 25px;
    border-bottom-width: 5px;
    border-bottom-color: $blue;
    color: $body-color;
    text-decoration: none;
    transform: translateY(-5px);
}

.project__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project__body {
    border-top: 1px solid $faint;
    padding: 20px;
}

.project__table-head {
    padding-right: 10px;
    font-weight: 700;
}
