/*
 * Projects
 *****************************************************************************************************************************/
.project,
.project__img,
.project__body {
    display: block;
}

.project {
    width: 300px;
    margin: 0 auto 2rem;
    border: .1rem solid $faint;
    color: $body-color;
    transition: all 250ms ease-in-out;
}

.project:hover,
.project:focus {
    margin-bottom: 1.5rem;
    border-bottom-width: .5rem;
    border-bottom-color: $blue;
    color: $body-color;
    text-decoration: none;
    transform: translateY(-.5rem);
}

.project__img {
    max-width: 100%;
    height: auto;
}

.project__body {
    border-top: .1rem solid $faint;
    padding: 2rem;
}

.project__info {
    font-size: 1.6rem;
}

.project__table-head {
    padding-right: 1rem;
    font-weight: 700;
}
