/*
 * Scroll
 *****************************************************************************************************************************/
.scroll,
.scroll:hover,
.scroll:focus {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 2rem;
    animation: up-down 2.5s ease-in-out infinite;
    transition: all 250ms ease-in-out;
}
