/*
 * Scroll
 *****************************************************************************************************************************/
.scroll {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    animation: up-down 2.5s ease-in-out infinite;
    transition: all 250ms ease-in-out;
}

.scroll:hover,
.scroll:focus {
    color: #fff;
    background-color: #000;
}
