/*
 * Typography
 *****************************************************************************************************************************/
 .section-title {
     display: inline-block;
     margin-top: 0;
     margin-bottom: 40px;
     padding: 5px 10px 8px;
     color: #fff;
     background-color: #000;
     line-height: 1;
     font: {
         family: $heading-font-family;
         weight: 400;
     }
 }

 .section-intro {
     margin-top: 0;
     margin-bottom: 20px;
     font-size: 2.2rem;
 }
