/*
 * Typography
 *****************************************************************************************************************************/
 .section-title {
     display: inline-block;
     margin-top: 0;
     margin-bottom: 40px;
     padding: 5px 10px 8px;
     color: #fff;
     background-color: #000;
     line-height: 1;
     font: {
         family: $heading-font-family;
         weight: 400;
     }
 }

 .section-intro {
     margin-top: 0;
     margin-bottom: 20px;

     @media only screen and (min-width: $breakpoint-sm) {
       font-size: 1.8rem;
     }

     @media only screen and (min-width: $breakpoint-md) {
       font-size: 2rem;
     }
 }
