/*
 * Variables
 *****************************************************************************************************************************/

/* Colors */
$charcoal: #353535;
$faint: #ddd;
$blue: #284587;
$green: #1F8F53;

/* Typography */
$heading-color: $charcoal;
$heading-font-family: 'Oswald', sans-serif;
$heading-font-weight: 400;
$heading-line-height: 1.4;

$body-color: $charcoal;
$body-font-family: 'Oxygen', sans-serif;
$body-font-size: 1.6rem;
$body-font-weight: 400;
$body-line-height: 1.6;


/* Grid */
// Set the breakpoint at which the columns stack
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1005px;
$breakpoint-lg: 1200px;

// Container width
$container-width: 960px;

// Set the gutter width
$gutter-width: 30px;
