/*********************/
/* TABLE OF CONTENTS */
/*********************/

@import url('https://fonts.googleapis.com/css?family=Oxygen|Oswald');

@import 'partials/reset';
@import 'partials/cf';
@import 'partials/variables';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/animations';
@import 'partials/fontello';
@import 'partials/hero';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/scroll';
@import 'partials/project';
@import 'partials/modal';
