/**
  * @group variables
  */
$charcoal: #353535;
$sharkskin: #666;
$acid: #446669;

$oswald: 'Oswald', serif;
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$font-weight-normal: 400;
$font-weight-light: 200;

$heading-line-height: 1.4;
$body-line-height: 1.6;

/**
  * @group global styles
  */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
  outline: 0;
}

html {
  font-size: 10px;
}

body {
  padding-top: 5rem;
  color: $sharkskin;
  font: {
    family: $open-sans;
    size: 1.4rem;
    weight: $font-weight-normal;
  }
  line-height: $body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: $charcoal;
  font: {
    family: $raleway;
    weight: $font-weight-light;
  }
  line-height: $heading-line-height;
  text-transform: capitalize;
}

h1 {
  font-size:  3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 2rem;
}

a {
  color: $charcoal;
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($charcoal, 25%);
    outline: 0;
    text-decoration: none;
  }
}

.heading-with-background {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: $charcoal;
  line-height: 1;
  font: {
    family: $oswald;
    weight: $font-weight-normal;
  }
}

.section-heading {
  width: 50%;
}