[role="header"] {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(150deg, #D6FFEF, #507A7A, #232D38);
}

#diamond {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  transition: stroke-dashoffset 1250ms linear;
}