[role="header"] {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(150deg, #D6FFEF, #507A7A, #232D38);
}