/*********************/
/* TABLE OF CONTENTS */
/*********************/

/*
 * 1. Settings
 */
@import 'settings/reset';               // 1.0 Reset
@import 'settings/variables';           // 1.1 Variables
@import 'settings/mixins';              // 1.2 Mixins
@import 'settings/settings';            // 1.3 Settings

/*
 * 2. Partials
 */
@import 'partials/utilities';           // Utilities
@import 'partials/base';                // 2.0 Base
@import 'partials/grid';                // 2.1 Grid
@import 'partials/typography';          // Typography
@import 'partials/header';              // 2.3 Header
@import 'partials/footer';              // 2.4 Footer
@import 'partials/forms';               // 2.5 Forms
@import 'partials/buttons';             // 2.6 Buttons
@import 'partials/animations';          // Animations
@import 'partials/section';             // Section
@import 'partials/work-card';           // Work Card
@import 'partials/skills';              // Skill
@import 'partials/contact-card';        // Contact Card
@import 'partials/fontello';            // Fontello
