/*********************/
/* TABLE OF CONTENTS */
/*********************/

/*
 * 1. Settings
 */
@import 'settings/reset';               // 1.0 Reset
@import 'settings/variables';           // 1.1 Variables
@import 'settings/mixins';              // 1.2 Mixins

/*
 * 2. Partials
 */
@import 'partials/utilities';           // Utilities
@import 'partials/base';                // Base
@import 'partials/grid';                // Grid
@import 'partials/typography';          // Typography
@import 'partials/animations';          // Animations
@import 'partials/nav';                 // Nav
@import 'partials/header';              // Header
@import 'partials/footer';              // Footer
@import 'partials/forms';               // Forms
@import 'partials/buttons';             // Buttons
@import 'partials/layout';              // Layout
@import 'partials/projects';           // Work Card
@import 'partials/modal';            	// Modal
@import 'partials/skills';              // Skill
@import 'partials/contact-card';        // Contact Card
@import 'partials/fontello';            // Fontello
