/*********************/
/* TABLE OF CONTENTS */
/*********************/

@import url('http://fonts.googleapis.com/css?family=Oxygen|Oswald');

@import 'settings/reset';
@import 'settings/variables';

@import 'partials/base';
@import 'partials/grid';
@import 'partials/typography';
@import 'partials/images';
@import 'partials/buttons';
@import 'partials/animations';
@import 'partials/fontello';
@import 'partials/hero';
@import 'partials/nav';
@import 'partials/footer';
@import 'partials/scroll';
@import 'partials/projects';
@import 'partials/modal';
